DATABASE_URL="postgresql://neondb_owner:npg_Jzot6Yx0Teca@ep-sweet-pine-a4xehgf8-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="your-jwt-secret-here"
JWT_REFRESH_SECRET="your-refresh-secret-here"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_API_URL="http://localhost:5000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:5000"
PORT=5000
